@page "/postdetails/{Id:int}"
@using BlogMaster.Shared.Interfaces
@using BlogMaster.Shared.Models

@inject IBlogService blogService
@inject NavigationManager navigationManager

@if (blog is null)
{
    <p>Loading...</p>
}
else
{
    <BlogPostDetailsContent @rendermode=InteractiveWebAssembly BlogPost="blog" OnBack="GoBack" OnCommentAdded="HandleCommentAdded" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private BlogDto blog = new();

    protected override async Task OnInitializedAsync()
    {
        var existingBlog = await blogService.GetBlog(Id);
        if (existingBlog is null)
        {
            navigationManager.NavigateTo("/blogs");
            return;
        }

        blog = existingBlog;
        await base.OnInitializedAsync();
    }

    void GoBack()
    {
        navigationManager.NavigateTo("/blogs");
    }

    async Task HandleCommentAdded(CommentDto comment)
    {
        blog.AddComment(comment);
        var updatedBlog = await blogService.UpdateBlog(blog);
        if(updatedBlog is not null)
        {
            blog = updatedBlog;
        }
    }
}
