@using BlogMaster.Shared.Models
<div class="form-group">
    <label>Title</label>
    <input class="form-control" @bind="BlogPost!.Title" />
</div>
<div class="form-group">
    <label>Content</label>
    <textarea class="form-control" @bind="BlogPost.Content"></textarea>
</div>
@if (IsNewPost)
{
    <div class="form-group">
        <label>Author</label>
        <input class="form-control" @bind="BlogPost.Author" />
    </div>
}
<button class="btn btn-success" @onclick="OnSaveClicked">Save</button>
<button class="btn btn-secondary" @onclick="OnCancelClicked">Cancel</button>

@code {
    [Parameter]
    public BlogDto? BlogPost { get; set; }

    [Parameter]
    public EventCallback<BlogDto> OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    bool IsNewPost => BlogPost?.Id == 0;

    async Task OnSaveClicked()
    {
        await OnSave.InvokeAsync(BlogPost);
    }

    async Task OnCancelClicked()
    {
        await OnCancel.InvokeAsync(null);
    }
}